
<link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}">
<link rel="stylesheet"  href="{{ asset('css/elementyWspolne.css') }}">

    <div class="nazwaStrony">Lux-pro</div>
    <div id="wyswietlLogin"> {{ daneUzytkownikaArr.NazwaUzytkownika }}</div>
    <div id="imie" style="display:none"> {{ daneUzytkownikaArr.Imie }}</div>
    <div id="nazwisko" style="display:none"> {{ daneUzytkownikaArr.Nazwisko }}</div>
    <div class="ikonaWyloguj">
        <a id="wyloguj" href="{{ baseUrl }}wyloguj">
            <svg class="wlacz_wylacz"></svg>
        </a>
    </div>



