
/*wspólne style dla inputów, selectów textarea*/

.field-wrapper{
    position: relative;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align:center;
}
.field-wrapper input{
    width: 80% !important;
    height: 2.4vh !important;
    padding: 0.8vh !important;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 8px !important;
    background: transparent;
    text-align: left !important;
    outline: none;
    box-shadow: none;
    z-index: 1;
    position: relative;
}
.field-wrapper select{
    width: 87% ;
    height: 4.2vh!important;
    padding: 0.8vh !important;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 8px !important;
    background: transparent;
    text-align: left !important;
    outline: none;
    box-shadow: none;
    z-index: 1;
    position: relative;
}
.field-wrapper textarea{
    width: 96% !important;
    height: 6vh !important;
    padding: 2vh !important;
    border: 1px solid rgb(209, 205, 205) ! important;
    border-radius: 8px !important;
    background: transparent;
    text-align: left !important;
    outline: none;
    box-shadow: none;
}
.textarea-field-placeholder{
    font-size: 1.3vh;
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    top: -0.9vh;
    color: #80868b;
    left: 7%;
    z-index: 1 !important;
}
.textarea-field-placeholder span{
    /*background: rgb(248, 248, 248) !important;*/
    z-index: 2 !important;
    padding: 0 0.8vh;
    width: 0;
}
.field-wrapper input:focus,
.field-wrapper select:focus,
.field-wrapper textarea:focus
{
    border: 1px solid rgb(96, 19, 108);
}
.field-wrapper .field-placeholder{
    font-size: 1.5vh;
    position: absolute;
    width: 100% !important;
    bottom: 1.3vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868b;
    left: 7%;
    padding: 0 0.8vh;
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    z-index: 0;
    text-align: left;
}
.field-wrapper .field-placeholder span{
    background: rgb(248, 248, 248) !important;
    padding: 0 0.8vh;
    width: 0;
    z-index: 5;
    position: relative;
}
.field-wrapper input:not([disabled]):focus~.field-placeholder,
.field-wrapper select:not([disabled]):focus~.field-placeholder,
.field-wrapper textarea:not([disabled]):focus~.field-placeholder
{
    color:rgb(96, 19, 108);
}
.field-wrapper input:not([disabled]):focus~.field-placeholder,
.field-wrapper input:not(:placeholder-shown)  + .field-placeholder
{
    -webkit-transform: scale(.75) translateY(-2.8vh) translateX(-3.5vw);
    transform: scale(.75) translateY(-2.9vh) translateX(-2.5vw);
    z-index: 1;
}
.field-wrapper select:not([disabled]):focus~.field-placeholder,
.field-wrapper select:not(:placeholder-shown)  + .field-placeholder
{
    -webkit-transform: scale(.75) translateY(-2.8vh) translateX(-3.5vw);
    transform: scale(.75) translateY(-2.9vh) translateX(-2.5vw);
    z-index: 1;
}




/* modyfikacja inputów */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(249, 249, 249,1) inset;
}

/* stylizacja włącz_wyłącz */

.ikonaWyloguj {
    background-color: transparent;
    /*border: solid green;*/
}

.ikonaWyloguj svg{
    width: 2vw;
    height: 3vh;
    cursor: pointer;
}

.wlacz_wylacz {
    background: url('../icons/wyloguj.svg') no-repeat;
}

.nazwaStrony {
    width: 30%;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(96, 19, 108);
    text-shadow:5px 5px 8px rgba(7, 74, 155,1);
    text-transform: none;
    /*border: solid orange;*/
    margin-right: 42%;
    text-align: left;
}

#wyswietlLogin {
    /*border: solid black;*/
    font-size: 14px;
    text-align: right;
    width: 20%;
    margin-right: 2%;
}

/* komunikaty */
.komunikat{
    /*visibility: hidden;*/
    /*min-width: 250px;*/
   /* background-color:rgb(52, 152, 219); */
    background-color:#cddc39;
    color: black;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 5;
    font-size: 12px;
    top:5.5vh;
    width: 10%;
    margin-left: 88%;
    height: 50px;
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 4s;
    animation: fadein 1s, fadeout 1s 4s;
}
/*.komunikat {*/
/*    visibility: visible;*/
/*    -webkit-animation: fadein 1s, fadeout 1s 4s;*/
/*    animation: fadein 1s, fadeout 1s 4s;*/
/*}*/

.komunikatError {
    /*min-width: 250px;*/
    /* background-color:rgb(52, 152, 219); */
    background-color:rgba(255, 102, 102, 1);
    color: black;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 5;
    font-size: 12px;
    top:5.5vh;
    width: 10%;
    margin-left: 88%;
    height: 50px;
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 4s;
    animation: fadein 1s, fadeout 1s 4s;
}


.textKomunikatu{
    margin-top: 10%;
    font-weight: bold;
}
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 5.5vh; opacity: 1;}
}
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 5.5vh; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {top: 5.5vh; opacity: 1;}
    to {top: 0; opacity: 0;}
}
@keyframes fadeout {
    from {top: 5.5vh; opacity: 1;}
    to {top: 0; opacity: 0;}
}
.progressBar {
    height: 5px;
    background-color: greenyellow;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
}
.progressBarError {
    height: 5px;
    background-color: rgba(253, 6, 6, 0.8);;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 80, 158,0.1);
    position: relative;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 80, 158,0.1);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85,0.5);
}


/* przycisk  usuń*/
.ui-button:nth-last-child(2){

}
.ui-button:nth-last-child(2):hover{
    background-color: rgba(255, 102, 102, 1);
}
/* przycisk  anuluj*/
.ui-button:nth-of-type(2){

}
.ui-button:nth-of-type(2):hover{
    background-color:#cddc39;
}


