

/* przyciski css */

button{
    background: transparent;
    border: unset;
}


a{
    text-decoration: none;
    color:rgb(86, 86, 86);
}

.container1{
    width: 100%;
    height: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    /*margin-left: 2%;*/
    font-size: 1.9vh;
    /*border:solid red;*/
}

.container1 .btn1{
    position: relative;
    width: 40%;
    height: 100%;
    /*margin: 3%;*/
    /*border:solid green;*/
}

.container1 .btn1 a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.005);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s ;
    backdrop-filter: blur(15px);
}


.container1 .btn1 button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(255,255,255,0.005);*/
    background: rgb(118, 140, 162);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s ;
    backdrop-filter: blur(15px);
    font-size: 1.6vh;
    cursor: pointer;
}

.container1 .btn1:hover a {
    /*color: rgba(96, 69, 108,1);*/
}

.container1 .btn1:hover button {
    /*color: rgb(96, 19, 108);*/
}

.container1 .btn1 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(250,250,250,0.15),transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.container1 .btn1 button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(250,250,250,0.15),transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.container1 .btn1:hover a::before{
    transform: skewX(45deg) translateX(200%);
}
.container1 .btn1:hover button::before{
    transform: skewX(45deg) translateX(200%);
}

.container1 .btn1::before {
    /*content: '';*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*bottom: -5px;*/
    /*width: 30px;*/
    /*height: 10px;*/
    /*background: #f00;*/
    /*border-radius: 10px;*/
    /*transition: 0s;*/
}

.container1 .btn1:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}



.container1 .btn1::after {
    /*content: '';*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*top: -5px;*/
    /*width: 30px;*/
    /*height: 10px;*/
    /*background: #f00;*/
    /*border-radius: 10px;*/
    /*transition: 0s;*/
}

.container1 .btn1:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}


.container1 .btn1:nth-child(2)::before,
.container1 .btn1:nth-child(2)::after
{
    background: grey;
    box-shadow: 0 0 15px grey,
    0 0 30px grey,
    0 0 60px grey;

}

.container1 .btn1:nth-child(1)::before,
.container1 .btn1:nth-child(1)::after
{
    background: #2bd2ff;
    box-shadow: 0 0 15px #2bd2ff,
    0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
}



