<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}">
    <link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/elementyWspolne.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaZgloszenia.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/ikonki.css') }}" >
    <script src="{{ asset('js/stronaZgloszenia/stronaZgloszenia.js') }}" async></script>
    <script src="{{ asset('js/stronaZgloszenia/zmianyKomentarze.js') }}" async></script>
    <script src="{{ asset('js/global.js') }}" async></script>

    <title>Strona Zgłoszenia</title>
</head>
<body>

<section>
    <header>
        {% include 'globalHtml/naglowek.html.twig' %}
    </header>
    <nav>
        {% include 'globalHtml/menuGorne.html.twig' %}
    </nav>
    <aside>
        {% include 'globalHtml/menuBoczne.html.twig' %}
    </aside>
    <main>
        <input style="display: none" id="baseUrl" type="text" value={{ baseUrl }} />

        <div id="glownaSekcjaMain">

            <div class="sekcjaFiltrow" >
                <form>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszenia" type="text" id="nrZgloszeniaFiltr" placeholder="" value="" />
                            <div class="field-placeholder"><span>Numer zgłoszenia</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszenia" type="date" id="dataDodaniaOdFiltr" placeholder="" value="" />
                            <div class="field-placeholder"><span>Data dodania od</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszenia" type="date" id="dataDodaniaDoFiltr" placeholder="" value="" />
                            <div class="field-placeholder"><span>Data dodania do</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszenia" type="date" id="planowanaRealizacjaFiltr" placeholder="" value="" />
                            <div class="field-placeholder"><span>Realizacja</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszenia" type="text" id="adresFiltr" placeholder="" value="" />
                            <div class="field-placeholder"><span>Adres</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszenia" id="klientFiltr">
                                <option selected="selected" value="0"  disabled>--wybierz--</option>
                                {% for klient in slownikKlienci %}
                                    <option value={{ klient.Nazwa }}>{{ klient.Nazwa }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Kontrahent</span></div>
                        </div>
                    </div>

                    <div style="clear: both"></div>

                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszenia" id="wykonawcaFiltr">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for wykonawca in wykonawcaArr %}
                                    <option value={{ wykonawca.Wykonawca }}>{{ wykonawca.Wykonawca }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Wykonawca</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszenia" id="kategoriaFiltr">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for kategoria in slownikKategoria %}
                                    <option value={{ kategoria.Opis }}>{{ kategoria.Opis }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Kategoria</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszenia" id="priorytetFiltr">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for priorytet in slownikPriorytet %}
                                    <option value={{ priorytet.Opis }}>{{ priorytet.Opis }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Priorytet</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszenia" id="statusFiltr">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for status in slownikStatus %}
                                    <option value={{ status.Opis }}>{{ status.Opis }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Status</span></div>
                        </div>
                    </div>

                    <div class ="filtrButtonWyczysc" >
                        <button style="" id="wyczysc" type ="reset"><svg class="wyczyscIcons"></svg></button>
                    </div>

                </form>
            </div>


            <div class="sekcjaFiltrowHistoria" >
                <form>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszeniaHistoria" type="text" id="nrZgloszeniaFiltrHistoria" placeholder="" value="" />
                            <div class="field-placeholder"><span>Numer zgłoszenia</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszeniaHistoria" type="date" id="dataDodaniaOdFiltrHistoria" placeholder="" value="" />
                            <div class="field-placeholder"><span>Data dodania od</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszeniaHistoria" type="date" id="dataDodaniaDoFiltrHistoria" placeholder="" value="" />
                            <div class="field-placeholder"><span>Data dodania do</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszeniaHistoria" type="date" id="planowanaRealizacjaFiltrHistoria" placeholder="" value="" />
                            <div class="field-placeholder"><span>Realizacja</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrZgloszeniaHistoria" type="text" id="adresFiltrHistoria" placeholder="" value="" />
                            <div class="field-placeholder"><span>Adres</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszeniaHistoria" id="klientFiltrHistoria">
                                <option selected="selected" value="0"  disabled>--wybierz--</option>
                                {% for klient in slownikKlienci %}
                                    <option value={{ klient.Nazwa }}>{{ klient.Nazwa }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Kontrahent</span></div>
                        </div>
                    </div>

                    <div style="clear: both"></div>

                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszeniaHistoria" id="wykonawcaFiltrHistoria">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for wykonawca in wykonawcaArr %}
                                    <option value={{ wykonawca.Wykonawca }}>{{ wykonawca.Wykonawca }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Wykonawca</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszeniaHistoria" id="kategoriaFiltrHistoria">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for kategoria in slownikKategoria %}
                                    <option value={{ kategoria.Opis }}>{{ kategoria.Opis }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Kategoria</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszeniaHistoria" id="priorytetFiltrHistoria">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for priorytet in slownikPriorytet %}
                                    <option value={{ priorytet.Opis }}>{{ priorytet.Opis }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Priorytet</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrZgloszeniaHistoria" id="statusFiltrHistoria">
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for status in slownikStatus %}
                                    <option value={{ status.Opis }}>{{ status.Opis }}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Status</span></div>
                        </div>
                    </div>

                    <div class ="filtrButtonWyczysc" >
                        <button style="" id="wyczyscFiltrHistoria" type ="reset"><svg class="wyczyscIcons"></svg></button>
                    </div>

                </form>
            </div>

            <div class="sekcjaZgloszenia">
                <table class="tabelaZgloszenia" style="">
                    <thead>
                    <tr>
                        <th class="thZgloszenia" style="" scope="row">Nr</th>
                        <th class="thZgloszenia" style="display:none">IdKlienta</th>
                        <th class="thZgloszenia" style="display:none">IdAdres</th>
                        <th class="thZgloszenia" scope="row">Data dodania</th>
                        <th class="thZgloszenia" scope="row">Planowana realizacja</th>
                        <th class="thZgloszenia" scope="row">Adres</th>
                        <th class="thZgloszenia" scope="row">Kontrahent</th>
                        <th class="thZgloszenia" scope="row">Wykonawca</th>
                        <th class="thZgloszenia" scope="row">Kategoria</th>
                        <th class="thZgloszenia" scope="row">Priorytet</th>
                        <th class="thZgloszenia" scope="row">Status</th>
                    </tr>
                    </thead>
                    <tbody class="zgloszeniaTbody">
                    {% for zgloszenia in zgloszeniaArr %}
                        <tr class="zgloszeniaTbodyTr">
                            <th style="width:4%" class="IdZgloszeniaTab" scope="row">{{ zgloszenia.IdZgloszenia }}</th>
                            <td style="width:4%;display:none" class="IdKlientaTab">{{ zgloszenia.IdKlienta }}</td>
                            <td style="width:4%;display:none" class="IdAdresTab">{{ zgloszenia.IdAdres }}</td>
                            <td style="width:8%"  class="dataZgloszeniaTab" >{{ zgloszenia.DataDodania }}</td>
                            <td style="width:15%" class ="planowanaRealizacjaTab">{{ zgloszenia.PlanowanaRealizacja }}</td>
                            <td style="width:15%" class="adresTab">{{ zgloszenia.Adres }}</td>
                            <td style="width:15%" class="klientTab">{{ zgloszenia.Nazwa }}</td>
                            <td style="width:10%" class="wykonawcaTab">{{ zgloszenia.Wykonawca }}</td>
                            <td style="width:10%" class="kategoriaTab">{{ zgloszenia.Kategoria }}</td>
                            <td style="width:9%" class="priorytetTab">{{ zgloszenia.Priorytet }}</td>
                            <td style="width:9%" class="statusTab">{{ zgloszenia.Status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="sekcjaHistoriaZgloszen" >
                <table class="tabelaZgloszeniaHistoria" style="">
                    <thead>
                    <tr>
                        <th class="thZgloszenia" style="" scope="row">Nr</th>
                        <th class="thZgloszenia" style="display:none">IdKlienta</th>
                        <th class="thZgloszenia" style="display:none">IdAdres</th>
                        <th class="thZgloszenia" scope="row">Data dodania</th>
                        <th class="thZgloszenia" scope="row">Data rozwiązania</th>
                        <th class="thZgloszenia" scope="row">Adres</th>
                        <th class="thZgloszenia" scope="row">Kontrahent</th>
                        <th class="thZgloszenia" scope="row">Wykonawca</th>
                        <th class="thZgloszenia" scope="row">Kategoria</th>
                        <th class="thZgloszenia" scope="row">Priorytet</th>
                        <th class="thZgloszenia" style="display:none" scope="row">Status</th>
                        <th class="thZgloszenia" scope="row">Status/Przywróć</th>
                        <th class="thZgloszenia" style="display:none" scope="row">idStatus</th>
                    </tr>
                    </thead>
                    <tbody class="zgloszeniaHistoriaTbody">
                    {% for zgloszeniaHist in zgloszeniaHistoriaArr %}
                        <tr class="zgloszeniaHistoriaTbodyTr">
                           <th style="width:4%" class="IdZgloszeniaTab" scope="row">{{zgloszeniaHist.IdZgloszenia}}</th>
                           <td style="width:4%;display:none" class="IdKlientaTab">{{zgloszeniaHist.IdKlienta}}</td>
                           <td style="width:4%;display:none" class="IdAdresTab">{{zgloszeniaHist.IdAdres}}</td>
                           <td style="width:8%" class="dataZgloszeniaTab">{{zgloszeniaHist.DataDodania}}</td>
                           <td style="width:15%" class="dataRozwiazaniaTab">{{zgloszeniaHist.DataModyfikacji}}</td>
                           <td style="width:15%" class="adresTab">{{zgloszeniaHist.Adres}}</td>
                           <td style="width:15%" class="klientTab">{{zgloszeniaHist.Nazwa}}</td>
                           <td style="width:10%" class="wykonawcaTab">{{zgloszeniaHist.Wykonawca}}</td>
                           <td style="width:10%" class="kategoriaTab">{{zgloszeniaHist.Kategoria}}</td>
                           <td style="width:9%" class="priorytetTab">{{zgloszeniaHist.Priorytet}}</td>
                           <td style="width:9%" class="statusTab">{{zgloszeniaHist.Status}}</td>


                            <td style="width:9%" class="statusSelectTab">
                                <div style="width:10vw;float: left">
                                    <div class="field-wrapper">
                                        <select class="status" id="statusSelect">
                                            <option selected="selected" value="0" disabled>--wybierz--</option>
                                            {% for status in slownikStatus %}
                                                <option value={{ status.IdStatus }}>{{ status.Opis }}</option>
                                            {% endfor %}
                                           </select>
                                        <div class="field-placeholder"><span>Status</span></div>
                                        </div>
                                    </div>
                                </td>

                            <td style="width:9%" class="idStatusTab">{{zgloszeniaHist.IdStatus}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% if daneUzytkownikaArr.Rola == 1 %}
            <div class="sekcjaButtonZgloszenia">
                <div class="buttonDodajZgloszenie">
                    <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                        <div class="btn1" style="width: 100%;height: 3vh">
                            <button style="width: 9vw;height: 3vh" class="dodajZgloszenie" type ="button">Dodaj zgłoszenie</button>
                        </div>
                    </div>
                </div>
                <div class="buttonHistoriaZgloszen" >
                    <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                        <div class="btn1" style="width: 100%;height: 3vh">
                            <button style="width: 9vw;height: 3vh" class="pokazHistorie" type ="button">Historia zgłoszeń</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

            <div class="sekcjaButtonHistoria">
                <div class="buttonDodajZgloszenie">
                    <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                        <div class="btn1" style="width: 100%;height: 3vh">
                            <button style="width: 9vw;height: 3vh" class="pokazZgloszenia" type ="button">Zgłoszenia</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dodawanieZgloszenia" >

                <div class ="zamknijSekcje" >
                    <button style="" id="zamknijDodawanieZgloszenia" type ="reset"><svg class="wyczyscIcons"></svg></button>
                </div>

                <form>
                    <div class="sekcjaDodawaniaZgloszenia" >

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="klientDodaj" >
                                    <option selected="selected" value="0"  disabled>--wybierz--</option>
                                        {% for klient in slownikKlienci %}
                                            <option value={{ klient.IdKlienta }}>{{ klient.Nazwa }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Kontrahent</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="kategoriaDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                        {% for kategoria in slownikKategoria %}
                                            <option value={{ kategoria.IdKategoria }}>{{ kategoria.Opis }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Kategoria</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div id="adresDynamiczny" class="field-wrapper-zgloszenia" >
                                <select id="adresDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>

                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Adres</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="nrLokaluDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Nr lokalu</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminOdDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminDoDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="time" id="godzinaOdDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="time" id="godzinaDoDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <textarea  class=""  id="opisDodaj" placeholder=" " ></textarea>
                                <div class="textarea-field-placeholder-zgloszenia"><span>Opis</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div style="clear: both"></div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="wykonawcaDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                        {% for wykonawca in wykonawcaArr %}
                                            <option class="wykonawcaOption" value={{ wykonawca.IdUzytkownika }}>{{ wykonawca.Wykonawca }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Wykonawca</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="priorytetDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                        {% for priorytet in slownikPriorytet %}
                                            <option value={{ priorytet.IdPriorytet }}>{{ priorytet.Opis }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Priorytet</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div class="sekcjaWykonawca">
                            <table class="tabelaWykonawca" style="">
                                <thead>
                                    <tr>
                                        <th class="thWykonawca" style="display:none" >IdUzytkownika</th>
                                        <th class="thWykonawca" scope="row" >Wykonawca</th>
                                        <th class="thWykonawca">Usuń</th>
                                    </tr>
                                </thead>
                                <tbody class="wykonawcaTbodyDodawanie">
                                    <tr class="wykonawcaTbodyTr">
{#                                        <td  style="display: none" >1000</td>#}
{#                                        <th  class="" scope="row">bartlomiej lewandowski</th>#}
{#                                        <td  class="usunWykonawceTab"><button title="Usuń" class="usunWykonawceButton"><svg class="koszIcons" style="width: 1vw;height: 2vh"></svg></button></td>#}
                                    </tr>
                                </tbody>
                            </table>
                        </div>

{#                        <div style="float:left;margin-top:1vh;width:21vw;height: 6vh;border:solid black">drop and drag </div>#}





                        <div id="drop_file_zone"  ondragover="return false">
                            <div id="drag_upload_file">
                                <p>Upuść tutaj</p>
{#                                <p>or</p>#}
                                <p><input id="file_explorer" type="button" value="Select File" /></p>
                                <input type="file" id="selectfile" />
                            </div>
                        </div>
{#                        <div class="zalaczniki">#}
{#                            <div class="zalacznikiArr">#}

{#                            </div>#}
{#                        </div>#}
                        <div class="sekcjaZalacznik">
                            <table class="tabelaZalacznik" style="">
                                <thead>
                                <tr>
                                    <th class="thZalacznik" scope="row" >Plik</th>
                                    <th class="thZalacznik">Usuń</th>
                                </tr>
                                </thead>
                                <tbody class="zalacznikTbodyDodawanie">
                                <tr class="zalacznikTbodyTr">

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="clear: both"></div>

                        <div class="zapiszZgloszenie">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0;">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="buttonZapiszZgloszenie" type ="button">Zapisz</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="edytowanieZgloszenia" >

                <div class="sectionButtonZgloszenia" style="visibility: hidden">
                    <button id="buttonZmianyKomentarze" type ="button">Zmiany i komentarze</button>
                </div>
                <div class ="zamknijSekcjeEdycja" >
                    <button style="" id="zamknijEdytowanieZgloszenia" type ="reset"><svg class="wyczyscIcons"></svg></button>
                </div>

                <div style="clear:both"></div>

                <form>

                    <div class="sekcjaEdytowaniaZgloszenia" >

                        <input id="idZgloszeniaEdycja" type="text" value="" style="display: none"/>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="klientEdytuj" >
                                    <option selected="selected" disabled>--wybierz--</option>
                                    {% for klient in slownikKlienci %}
                                        <option value={{ klient.IdKlienta }}>{{ klient.Nazwa }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Kontrahent</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="kategoriaEdytuj" >
                                    <option selected="selected" value=0 disabled>--wybierz--</option>
                                    {% for kategoria in slownikKategoria %}
                                        <option value={{ kategoria.IdKategoria }}>{{ kategoria.Opis }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Kategoria</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div id="adresDynamicznyEdycja" class="field-wrapper-zgloszenia" >
                                <select id="adresEdytuj" >
{#                                    <option selected="selected" disabled>--wybierz--</option>#}
{#                                    {% for klient in slownikKlienci %}#}
{#                                        <option value={{ klient.IdKlienta }}>{{ klient.Nazwa }}</option>#}
{#                                    {% endfor %}#}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Adres</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="nrLokaluEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Nr lokalu</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminOdEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminDoEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="time" id="godzinaOdEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="time" id="godzinaDoEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="statusEdytuj" >
                                    <option selected="selected" disabled>--wybierz--</option>
                                    {% for status in slownikStatus %}
                                        <option value={{ status.IdStatus }}>{{ status.Opis }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Status</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div style="clear: both"></div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <textarea  class=""  id="opisEdytuj" placeholder="" ></textarea>
                                <div class="textarea-field-placeholder-zgloszenia"><span>Opis</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div style="clear: both"></div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="wykonawcaEdytuj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                    {% for wykonawca in wykonawcaArr %}
                                        <option value={{ wykonawca.IdUzytkownika }}>{{ wykonawca.Wykonawca }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Wykonawca</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="priorytetEdytuj" >
                                    <option selected="selected" disabled>--wybierz--</option>
                                    {% for priorytet in slownikPriorytet %}
                                        <option value={{ priorytet.IdPriorytet }}>{{ priorytet.Opis }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Priorytet</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div class="sekcjaWykonawca">
                            <table class="tabelaWykonawca" style="">
                                <thead>
                                <tr>
                                    <th class="thWykonawca" style="display:none" >IdUzytkownika</th>
                                    <th class="thWykonawca" scope="row" >Wykonawca</th>
                                    <th class="thWykonawca">Usuń</th>
                                </tr>
                                </thead>
                                <tbody class="wykonawcaTbodyEdycja">
                                <tr class="wykonawcaTbodyTr">
                                    {#                                        <td  style="display: none" >1000</td>#}
                                    {#                                        <th  class="" scope="row">bartlomiej lewandowski</th>#}
                                    {#                                        <td  class="usunWykonawceTab"><button title="Usuń" class="usunWykonawceButton"><svg class="koszIcons" style="width: 1vw;height: 2vh"></svg></button></td>#}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="drop_file_zone"  ondragover="return false">
                            <div id="drag_upload_file">
                                <p>Upuść tutaj</p>
{#                                <p>or</p>#}
                                <p><input id="file_explorer" type="button" value="Select File" /></p>
                                <input type="file" id="selectfile" />
                            </div>
                        </div>
                        <div class="zalaczniki">
                            <div class="zalacznikiArr">

                            </div>
                        </div>
                        <div class="sekcjaZalacznik">
                            <table class="tabelaZalacznik" style="">
                                <thead>
                                <tr>
                                    <th class="thZalacznik" scope="row" >Plik</th>
                                    <th class="thZalacznik">Usuń</th>
                                </tr>
                                </thead>
                                <tbody class="zalacznikTbodyDodawanie">
                                <tr class="zalacznikTbodyTr">

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="clear: both"></div>

                        <div class="edytujZgloszenie">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0;">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="buttonEdytujZgloszenie" type ="button">Edytuj</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>


            <div class="zmianyKomentarze" >

                <div class="" id="zamknijZmianyKomentarze"> cofnij </div>
                <input id="idZgloszeniaKomentarze" type="text" value="" style="display:none;"/>

                <form>
                    <div class="sekcjaZmianyKomentarze">
                        <div id="sekcjaKomentarze">
                            <textarea id="nowyKomentarz" placeholder="Dodaj komentarz"></textarea>

                            <div class="buttondodajKomentarz" id="dodajKomentarz">
                                <div class="container1" style="height: 2vh;width: 6vw;margin-top: 1vh;margin-left: 2vw;">
                                    <div class="btn1" style="width: 100%;height: 3vh">
                                        <button style="width: 5vw;height: 2vh;font-size: 1.6vh;" class="dodajKomentarzButton" type ="button">Dodaj</button>
                                    </div>
                                </div>
                            </div>

                            <div class="wszystkieKomentarze">

                                <p class="listaKomentarzy">
                                </p>

                            </div>
                        </div>

                        <div class="wszystkieZmiany">

                            <p class="listaZmian">
                            </p>

                        </div>

                    </div>

                </form>
            </div>


        </div>

    </main>
    <footer>
        Footer
    </footer>
</section>

</body>
</html>