<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}">
    <link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/elementyWspolne.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaKontrahenci.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/ikonki.css') }}" >
    <script src="{{ asset('js/stronaKontrahenci.js') }}" async></script>
    <script src="{{ asset('js/global.js') }}" async></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
{#    <link rel="stylesheet" href="/resources/demos/style.css">#}
{#    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>#}
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


<title>Strona Kontrahenci</title>
</head>
<body>


<section>
    <header>
        {% include 'globalHtml/naglowek.html.twig' %}
    </header>
    <nav>
        {% include 'globalHtml/menuGorne.html.twig' %}
    </nav>
    <aside>
        {% include 'globalHtml/menuBoczne.html.twig' %}
    </aside>
    <main>
        <input style="display: none" id="baseUrl" type="text" value={{ baseUrl }} />

        <div id="glownaSekcjaMain">

            <div class="sekcjaFiltrow">
                <form>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nazwaFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>Nazwa</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nipFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>NIP</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrKontrahent" id="podmiotFiltr">
                                <option selected="selected" disabled>--wybierz--</option>
                                {% for podmiot in podmiotArr %}
                                    <option id="podmiotOpcjeEdycja" value="{{ podmiot.Opis }}">{{podmiot.Opis}}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Podmiot</span></div>
                        </div>
                    </div>

                    <div class ="filtrButtonWyczysc" >
                        <button style="" id="wyczysc" type ="reset"><svg class="wyczyscIcons"></svg></button>
                    </div>

                </form>
            </div>

            <div class="tableRaportKontrahenci" >
                <table class="reportTableKontrahenci">
                    <thead>
                        <tr>
                            <th class="thKontrahenci" style="display: none" scope="row">Id Kontrahenta</th>
                            <th class="thKontrahenci" scope="row">Nazwa</th>
                            <th class="thKontrahenci" scope="row">NIP</th>
                            <th class="thKontrahenci" scope="row">Podmiot</th>
                            <th class="thKontrahenci" style="display:none" scope="row">idPodmiot</th>
                            <th class="thKontrahenci" scope="row">Adres</th>
                            <th class="thKontrahenci" scope="row">Kontakt</th>
                            <th class="thKontrahenci" scope="row">Usuń</th>
                        </tr>
                    </thead>
                    <tbody class="resultsBody">
                    {% for daneKontrahenta in daneKontrahentowArr %}
                        <tr class="daneKontrahentaPokaz">
                            <td style="display: none" class="IdKlienta">{{ daneKontrahenta.IdKlienta }}</td>
                            <th class="nazwaTab" scope="row">{{daneKontrahenta.Nazwa}}</th>
                            <td class ="nipTab">{{daneKontrahenta.NIP}}</td>
                            <td class="podmiotTab">{{daneKontrahenta.Opis}}</td>
                            <td style="display:none" class="podmiotIdTab">{{daneKontrahenta.IdPodmiot}}</td>
                            <td style="" class="daneAdresoweTab"><button title="Adresy" style="" class="pokazAdresButton"><svg class="earthIcon"></svg></button></td>
                            <td style="" class="daneKontaktoweTab"><button title="Kontakty" class="pokazKontaktButton"><svg class="telefonIcons"></svg></button></td>
                            <td style="" class="usunKontrahentaTab"><button title="Usuń" class="usunKontrahentaButton"><svg class="koszIcons" ></svg></button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="dialog-confirm" style="display: none" title="Czy napewno chcesz usunąć ?">
{#                class="ui-icon ui-icon-alert"#}
                <p><span style="float:left; margin:12px 12px 20px 0;"></span> Kliknięcie "usuń" spowoduje trwałe usunięcie danych </p>
            </div>

            <div class="dodawanieKontrahenta" >

                <div class="zamknijSekcje" id="zamknijDodawanieKontrahenta">X</div>

                <form id="formKontrahenciDodawanie" >

                    <div id="sekcjaDodawaniaKontrahenta" >

                        <div id="test" style="width:15vw;float: left;">
                            <div class="field-wrapper" >
                                <input  class="" type="text" id="nazwa" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Nazwa</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input  class="" type="text" id="nip" placeholder=" " maxlength="10" />
                                <div class="field-placeholder"><span>NIP</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <select id="podmiot" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                    {% for podmiot in podmiotArr %}
                                        <option value="{{ podmiot.IdPodmiot }}">{{podmiot.Opis}}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder"><span>Podmiot</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div class="buttonZapiszDanePodstawowe" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="zapiszDanePodstawowe" type ="button">Zapisz</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="buttonDodajKontrahenta" >
                <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                    <div class="btn1" style="width: 100%;height: 3vh">
                        <button style="width: 9vw;height: 3vh" class="dodajKontrahenta" type ="button">Dodaj kontrahenta</button>
                    </div>
                </div>
            </div>

            <div class="edycjaKontrahenta" >
                <form id="formKontrahenciEdycja" >

                    <div class="zamknijSekcje"  id="zamknijEdycjeKontrahenta">X</div>

                    <div id="nazwaKontrahenta" ></div>

                    <div id="sekcjaEdycjiKontrahenta" >

                        <input id="idKontrahentaEdycja" type="text" value="" style="display: none"/>

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="nazwaEdycja" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Nazwa</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="nipEdycja"  class="" type="text" placeholder=" " maxlength="10"/>
                                <div class="field-placeholder"><span>NIP</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <select id="podmiotEdycja">
                                    <option selected="selected" disabled>--wybierz--</option>
                                    {% for podmiot in podmiotArr %}
                                        <option id="podmiotOpcjeEdycja" value="{{ podmiot.IdPodmiot }}">{{podmiot.Opis}}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder"><span>Podmiot</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div class="buttonEdycjaDanychPodstawowych" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="edycjaDanychPodstawowych" type ="button">Edytuj</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="dodawanieAdresow" >
                <form id="formKontrahenciDodawanieAdresow" style="">

                    <div class="zamknijSekcje"  id="zamknijDodawanieAdresow">X</div>

                    <div id="nazwaKontrahentaAdres"></div>

                    <div id="wyswietlDaneAdresowe" style="">
                        <div id="tabelaAdresow" class="tableDaneAdresowe" >
                            <table class="reportTableKontrahenci" style="">
                                <thead>
                                <tr>
                                    <th class="thKontrahenci" style="display: none" scope="row">Id Kontrahenta</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Id Adres</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Miejscowość</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Ulica</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Nr Budynku</th>
                                    <th class="thKontrahenci" style="" scope="row">Adres</th>
                                    <th class="thKontrahenci" style="" scope="row">Edytuj</th>
                                    <th class="thKontrahenci" style="" scope="row">Usuń</th>
                                </tr>
                                </thead>
                                <tbody style="" class="resultsBodyAdres">

                                </tbody>
                            </table>
                        </div>
                        <div class="brakDanych" >Brak danych</div>

                        <div id="dodajDaneAdresowe" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button id="dodajDaneAdresoweButton" type ="button">Dodaj</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sekcjaDodawaniaAdresu" >


                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="miejscowoscDodaj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Miejscowość</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="ulicaDodaj"  class="" type="text" placeholder=" " />
                                <div class="field-placeholder"><span>Ulica</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="nrBudynkuDodaj"  class="" type="text" placeholder=" " />
                                <div class="field-placeholder"><span>Nr budynku</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="zapiszDaneAdresowe" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button  id="zapiszDaneAdresoweButton" type ="button">Zapisz</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="sekcjaEdycjiAdresu" >


                        <input type="text" value="" class="pobierzIdAdres" style="display:none"/>
                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="miejscowoscEdytuj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Miejscowość</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="ulicaEdytuj"  class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Ulica</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="nrBudynkuEdytuj"  class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Nr budynku</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="edytujDaneAdresowe" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button id="edytujDaneAdresoweButton" type ="button">Edytuj</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="dodawanieKontaktow" >
                <form id="formKontrahenciDodawanieKontaktow" >

                    <div class="zamknijSekcje"  id="zamknijDodawanieKontaktow">X</div>

                    <div id="nazwaKontrahentaKontakt" ></div>

                    <div id="wyswietlDaneKontaktowe">
                        <div id="tabelaKontaktow" class="tableDaneKontaktowe" >
                            <table class="reportTableKontrahenci" >
                                <thead>
                                <tr>
                                    <th class="thKontrahenci" style="display: none" scope="row">Id Kontrahenta</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Id Kontakt</th>
                                    <th class="thKontrahenci" style="" scope="row">Telefon</th>
                                    <th class="thKontrahenci" style="" scope="row">Email</th>
                                    <th class="thKontrahenci" style="" scope="row">Edytuj</th>
                                    <th class="thKontrahenci" style="" scope="row">Usuń</th>
                                </tr>
                                </thead>
                                <tbody class="resultsBodyKontakt">

                                </tbody>
                            </table>
                        </div>
                        <div class="brakDanych" style="display:none; margin-top:13vh; font-size: 20px">Brak danych</div>

                        <div id="dodajDaneKontaktowe" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button id="dodajDaneKontaktoweButton" type ="button">Dodaj</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sekcjaDodawaniaKontaktu" >


                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="telefonDodaj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Telefon</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="emailDodaj"  class="" type="text" placeholder=" " />
                                <div class="field-placeholder"><span>Email</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="zapiszDaneKontaktowe" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button  id="zapiszDaneKontaktoweButton" type ="button">Zapisz</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="sekcjaEdycjiKontaktu" >


                        <input type="text" value="" class="pobierzIdKontakt" style="display:none"/>
                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="telefonEdytuj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Telefon</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="emailEdytuj"  class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Email</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="edytujDaneKontaktowe" >
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button  id="edytujDaneKontaktoweButton" type ="button">Edytuj</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

        </div>
    </main>
    <footer>
        Footer
    </footer>
</section>

</body>
</html>